*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
text-decoration: none;
}
.wrap{
    width: 100%;
    background-color: #fff;
}
.header{
    width: 100%;
}
.toolbar{
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.toolbar-auto{
    width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.toolbar a{
    color: #000;
    font-size: 14px;
}
.toolbar a:hover{
    text-decoration: underline;
    color: #ff6655;
}
.toolbar-left{
    width: 354px;
    display: flex;
    justify-content: space-between;
}
.toolbar-right{
    width: 369px;
    height: 26px;
    line-height: 16px;
    display: flex;
}
.toolbar-right li{
    margin: 10px 0 0;
    padding:  0 13px;
}
.toolbar-right a{
    display: inline-block;
    
}
.toolbar-registered{
    border-left: 1px solid #999;
}
.toolbar-weibo{
    width: 58px;
    border-left: 1px solid #999;
    position: relative;
    z-index: 10;
}
.toolbar-weixin{
    position: relative;
    width: 58px;
    border-left: 1px solid #999;
}
.toolbar-phone{
    width: 63px;
    position: relative;
    border-left: 1px solid #999;
}
.wb-select{
    position: absolute;
    top: 36px;
    right: -1px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 1;
    display: none;
}
.toolbar-weibo:hover{
    height: 26px;
    padding: 9px 13px 0;
    margin: 0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin-right: -1px;
    width: 58px;
}
.toolbar-weibo:hover .wb-select{
    display: block;
}
.wx-select{
    position: absolute;
    top: 36px;
    right: -1px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
    z-index: 1;
}
.toolbar-weixin:hover{
    height: 26px;
    padding: 9px 13px 0;
    margin: 0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin-right: -1px;
    width: 58px;
}
.toolbar-weixin:hover .wx-select{
    display: block;
}
.phone-select{
    position: absolute;
    top: 36px;
    right: -1px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    overflow: hidden;
    width: 230px;
    z-index: 1;
    display: none;
}
.toolbar-right a em{
    float: left;
    width: 17px;
    height: 16px;
    padding-right: 7px;
    background: url('../image/index.toolbar.png') no-repeat;
}
.toolbar-weibo .weibo{
    background-position: 0 0;
}
.toolbar-weixin .weixin{
    background-position: -34px 0;
}
.toolbar-phone .tel{
    background-position: -71px 0;
    width: 10px;
}
.toolbar-phone:hover{
    height: 26px;
    padding: 9px 13px 0;
    margin: 0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin-right: -1px;
    width: 62px;
}
.toolbar-phone:hover .phone-select{
    display: block;
}
.phone-select dt{
    width: 100px;
    margin-right: 10px;
    float: left;
}
.phone-select dd{
    color: #f65;
    font: 14px/16px "Microsoft YaHei";
    padding-bottom: 3px;
    overflow: hidden;
}
.phone-select .name{
    color: #666;
}
.phone-select .iphone{
    background: url('../image/index.foot.png')no-repeat -283px -62px;
    width: 90px;
    height: 28px;
    margin-right: 6px;
}
.phone-select .android{
    background: url('../image/index.foot.png')no-repeat -395px -62px;
    width: 90px;
    height: 28px;
}
.top-auto{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
.top-auto>div{
    float: left;
}
.logo{
    width: 180px;
    height: 88px;
}
.top-search{
    width: 590px;
    margin: 25px 0 0 75px;
    display: flex;
}
.search-left{
    width: 496px;
    height: 34px;
    border: 2px solid #f65;
    border-right: none;
}
input{
    list-style: none;
    border: none;
    outline: none;
}
.search{
    width: 385px;
    height: 20px;
    padding: 7px 10px;
    float: left;
    font: 14px/20px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;
    background: none;
}
.search-btn{
    background: #f65;
    height: 38px;
    width: 92px;
    cursor: pointer;
    float: left;
    font: 18px/34px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;
    color: #fff;
    border: none;
}
.search-list{
    position: absolute;
    left: 255px;
    top: 70px;
    color: #666;
    font-size: 12px;
}
.search-list a{
    color: #666;
    margin: 0 6px 0 0;
}
.search-list a:hover{
    color: #ff6655;
}
.top-ad{
    width: 220px;
    height: 60px;
    margin: 13px 0 0;
}
.top-auto .right{
    float: right;
}
.nav{
    width: 100%;
    background-color: #FF6655;
    margin: 10px 0 0;
}
.nav-auto{
    width: 1190px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    width: 684px;
    display: flex;
    height: 44px;
    line-height: 44px;
}
.nav-item a{
    font-size: 18px;
    color: #fff;
}
.wap{
    width: 122px;
    height: 44px;
}
.wap a{
    font: 18px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;
    color: #FFF;
    display: block;
    padding: 13px 15px 0;
    height: 31px;
    border-left: 1px solid #e35342;
    border-right: 1px solid #e35342;
}
.wap em{
    float: left;
    width: 11px;
    height: 17px;
    background: url('../image/index.icon.png') no-repeat;
    padding: 0 7px 0 0;
    margin: 1px 0 0;
}
.nav-item em{
    background: url('../image/index.icon.png') no-repeat -143px 0;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}
.nav-item .market{
    background: url('../image/index.icon.png') no-repeat -143px 0;
    background-position: -220px -58px;
    width: 23px;
    height: 15px;
    margin: 0 5px 0 0;
}
.nav-item{
    width: 90px;
    text-align: center;
    border-left: 1px solid #e35342;
}
.r em{
    transform: rotate(0) !important;
}
.r{
    width: auto;
    border-right: 1px solid #e35342;
}
.r p{
    padding: 0 18px;
}
.nav-item:hover em{
    transform: rotate(180deg);
}
.swiper-slide{
    text-align: center;
}
.swiper-pagination .swiper-pagination-bullet{
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    font: 18px/28px "Arial", "微软雅黑", tahoma, arial, sans-serif;
    text-align: center;
    color: #666;
    background: #fff;
    cursor: pointer;
    margin-right: 8px;
    opacity: 1;
}
#swiper{
    bottom: 20px;
    left: 371px;
    width: 120px;
}
.swiper-pagination-bullet-active{
    background-color: #ff6655 !important;
    color: #fff !important;
}