img {
    display: block;
}
input {
    outline: none;
}
// 头部
header {
    height: 37px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font: 14px/36px "Arial", "Microsoft Yahei";
    .brand_header {
        width: 1190px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .brand_header_left {
            width: 209px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 37px;
            div:nth-child(1) {
                i {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: url("../image/splice4.png") no-repeat 0 0;
                }
                a {
                    color: #e53;
                }
            }
            div:nth-child(2) {
                position: relative;
                padding: 0 10px;
                box-sizing: border-box;
                border-right: 1px solid transparent;
                border-left: 1px solid transparent;
                &:hover div {
                    display: block;
                }
                div {
                    display: none;
                    position: absolute;
                    left: -1px;
                    top: 38px;
                    background: #fff;
                    border: 1px solid #ccc;
                    border-top: none;
                    width: 450px;
                    padding: 8px 0;
                    box-sizing: border-box;
                    dl {
                        border-bottom: 1px dotted #ccc;
                        padding: 3px 15px;
                        box-sizing: border-box;
                        overflow: hidden;
                        line-height: 37px;
                        dt {
                            float: left;
                            color: #999;
                        }
                        dd {
                            float: left;
                            margin: -2px 18px 0 0;
                            padding: 2px 8px;
                            white-space: nowrap;
                            &:hover {
                                color: #e53;
                            }
                        }
                    }
                    dl:nth-child(4) {
                        border: none;
                    }
                }
                &:hover {
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                }
                i {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: url("../image/splice4.png") no-repeat 0 0;
                }
                .bn_sprice1 {
                    background-position: -31px 0;
                }
                .bn_sprice2 {
                    width: 8px;
                    height: 8px;
                    background-position: 0 -61px;
                }
                strong {
                    font-weight: bold;
                    padding-right: 10px;
                    color: #e53;
                    box-sizing: border-box;
                }
            }
        }
        .brand_header_right {
            width: 338px;
            height: 37px;
            ul {
                height: 37px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    position: relative;
                    a {
                        padding: 0 10px;
                        box-sizing: border-box;
                        &:hover {
                            text-decoration: underline;
                            color: #e53;
                        }
                    }
                }
                li:nth-child(2) {
                    a {
                        border-left: 1px solid #ccc;
                    }
                }
                li:nth-child(3) {
                    border-right: 1px solid transparent;
                    border-left: 1px solid transparent;
                    &:hover dl {
                        display: block;
                    }
                    &:hover {
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }
                    &:hover > a {
                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;
                    }
                    a {
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        padding-right: 11px;
                    }
                    dl {
                        position: absolute;
                        right: -1px;
                        top: 37px;
                        display: none;
                        width: 230px;
                        padding: 10px;
                        border: 1px solid #ccc;
                        background: #fff;
                        dt {
                            width: 100px;
                            margin-right: 10px;
                            float: left;
                        }
                        dd {
                            color: #f65;
                            font: 14px/16px "Microsoft YaHei";
                            padding-bottom: 3px;
                            overflow: hidden;
                            .iphone {
                                display: block;
                                padding: 0;
                                width: 100%;
                                border: none;
                                background: url("../image/splice1.png") no-repeat -283px -62px;
                                width: 90px;
                                height: 28px;
                                margin-right: 6px;
                            }
                            .android {
                                display: block;
                                padding: 0;
                                width: 100%;
                                border: none;
                                background: url("../image/splice1.png") no-repeat -395px -62px;
                                width: 90px;
                                height: 28px;
                            }
                        }
                        .name {
                            color: #666;
                        }
                    }
                }
                li:nth-child(4) {
                    margin: -5px;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    a {
                        border-right: 1px solid #ccc;
                    }
                    &:hover {
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }
                    &:hover > a {
                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;
                    }
                    a {
                        border-left: 1px solid transparent;
                    }
                    &:hover div {
                        display: flex;
                    }
                }
                li:nth-child(5) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    &:hover div {
                        display: block;
                    }
                    div {
                        display: none;
                        position: absolute;
                        top: 37px;
                        right: -1px;
                        width: 91px;
                        border: 1px solid #ccc;
                        background: #fff;
                        p {
                            width: 91px;
                            padding-left: 5px;
                            box-sizing: border-box;
                            line-height: 28px;
                            overflow: hidden;
                            i {
                                float: left;
                                width: 20px;
                                height: 14px;
                                background: url("../image/splice4.png") no-repeat -60px -45px;
                                margin: 8px 8px 0 0;
                            }
                        }
                    }
                    &:hover {
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }
                    img {
                        width: 15px;
                        height: 13px;
                        margin: 0px -5px 0 5px;
                    }
                    a {
                        border: none;
                    }
                }
            }
        }
        .point > div {
            position: absolute;
            right: -1px;
            top: 37px;
            width: 201px;
            border: 1px solid #ccc;
            background: #fff;
            overflow: hidden;
            height: 150px;
            display: none;
            justify-content: space-between;
            dl {
                border-right: 1px dashed #ccc;
                padding: 10px;
                float: left;
                width: 80px;
                dd {
                    font: 14px/20px "Microsoft YaHei";
                    color: #e53;
                    padding: 4px 0 0;
                    overflow: hidden;
                }
                dd:nth-child(3) {
                    color: #000;
                    i {
                        display: inline-block;
                        background: url("../image/splice5.png") no-repeat scroll -195px -77px;
                        height: 14px;
                        margin-left: 6px;
                        width: 16px;
                    }
                }
                img {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}
// 图片
.bn_top_img {
    width: 1190px;
    margin: auto;
}
.top-auto {
    width: 1190px;
    height: 130px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    div {
        float: left;
    }
    .logo {
        width: 240px;
        height: 100px;
        img {
            width: 240px;
            height: 100px;
        }
    }
    .top-search {
        width: 600px;
        margin: 34px 0 0 55px;
        .serch_ipt {
            display: flex;
            .search {
                width: 494px;
                padding: 5px 10px;
                height: 26px;
                font: 16px/26px "Microsoft YaHei";
                color: #ccc;
                border: 3px solid #e53;
                border-right: none;
            }
            .search-btn {
                height: 42px;
                font: 18px/40px "Microsoft YaHei";
                background: #e53;
                text-align: center;
                width: 80px;
                color: #fff;
                cursor: pointer;
                border: none;
            }
        }
        .search-list {
            margin-top: 5px;
            color: #666;
            font-size: 12px;
            a {
                color: #666;
                margin: 0 6px 0 0;
                &:hover {
                    color: #ff6655;
                }
            }
        }
    }
    .top-ad {
        margin: 35px 0;
    }
    .right {
        float: right;
    }
}
// 内容
nav {
    height: 36px;
    background: #e53;
    margin-top: 15px;
}
.nav-auto {
    width: 1190px;
    margin: 0 auto;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-auto-left {
    display: flex;
    height: 35px;
    align-items: center;
}
.nav-auto-left > li {
    height: 35px;
    line-height: 37px;
    padding: 0 17px;
    color: #fff;
}
.nav-auto-left > .nav-auto-1 {
    width: 170px;
    background: #c20;
    height: 35px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.nav-auto-left > .nav-auto-1 > em {
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url("../image/splice4.png") no-repeat 0 -21px;
    margin-top: 13px;
}
.nav-auto-left > li:hover {
    background-color: #9a0000;
}
.nav-auto-right {
    width: 142px;
    background: #c20;
    padding: 0 0 0 10px;
    border: 2px solid #c20;
    border-bottom: none;
    color: #fff;
    overflow: hidden;
    height: 34px;
    display: flex;
    align-items: center;
}
.nav-auto-right > em {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url("../image/splice4.png") no-repeat -30px -21px;
    margin: 6px 10px 5px 0;
}
.channel {
    width: 1190px;
    margin: 0 auto;
    height: 360px;
    position: relative;
}
.channel-left {
    position: absolute;
    z-index: 3;
    width: 160px;
    left: 50%;
    margin-left: -595px;
    top: 8px;
    height: 340px;
    background: #fff;
    padding: 4px 15px 0;
}
.channel-left > li {
    width: 160px;
    height: 33px;
    line-height: 33px;
    display: block;
    color: #333;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
}
.channel-right {
    position: absolute;
    z-index: 3;
    width: 200px;
    left: 50%;
    margin-left: 395px;
    top: 8px;
    height: 344px;
}
.content {
    overflow: hidden;
    padding-bottom: 30px;
}
.body-auto {
    width: 1190px;
    margin: 0 auto;
}
.dog1-area {
    margin-top: 25px;
}
.dog1-area-tab {
    display: flex;
    height: 32px;
    line-height: 32px;
    border-bottom: 2px solid #e53;
    justify-content: space-between;
    dl{
        display: flex;
        dd{
            margin-right: 20px;
            font-size: 14px;
            color: #666;
            &:hover{
                color: #f65;
            }
        }
    }
}
.dog1-area-tab > ul {
    width: 400px;
    display: flex;
    height: 34px;
}
.dog1-area-tab > h2 {
    color: #e53;
    padding-right: 55px;
}
.dog1-area-tab > ul > li {
    height: 32px;
    background: url("../image/line.jpg") no-repeat right 8px;
    padding: 0 15px;
    color: #333;
}
.dog1-area-tab > ul > li.show {
    background-color: #e53;
    color: #fff;
}
.dog1-area-cont {
    width: 1190px;
    height: 211px;
    border: 1px solid #e6e6e6;
}
ul.dog1-area-content {
    overflow: hidden;
    li {
        float: left;
        width: 176px;
        padding: 20px 10px 15px;
        height: 173px;
        font-family: arial, "Microsoft YaHei";
        img {
            width: 120px;
            height: 120px;
            display: block;
            margin-left: 28px;
            transition: all 0.3s ease;
            zoom: 1;
        }
        h3 {
            padding: 20px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            color: #666;
            font-style: normal;
        }
        div {
            padding-top: 10px ;
            display: flex;
            justify-content: space-between;
            p{
                color: #e53;
                font-size: 14px;
                font-family: arial,"SimSun";
            }
            span{
                color: #666;
                font-size: 12px;
            }
        }
    }
}
.dog2-area {
    margin-top: 30px;
    width: 1190px;
    height: 422px;
    display: flex;
}
.dog2-area-left {
    width: 188px;
    position: relative;
    background: #f3f3f3;
    height: 421px;
    border: 1px solid #e6e6e6;
    border-top: none;
}
.dog-l-f {
    position: absolute;
    left: -1px;
    top: 0;
    width: 37px;
    height: 42px;
    background: url("../image/splice3.png") no-repeat -285px 0;
    color: #fff;
    font: 14px/32px "Microsoft YaHei";
    padding-left: 5px;
}
.dog-l-z {
    background: #f90;
    height: 72px;
    line-height: 72px;
    text-align: center;
    padding-left: 20px;
    margin: 0 -1px;
    color: #fff;
    font-size: 22px;
}
.dog2-area-left > ul {
    border-left: 1px solid #e6e6e6;
    margin: 0 -1px;
}
.dog2-area-left > ul > li {
    background: #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #e6e6e6;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.dog2-area-left > ul > li.show1 {
    color: #e53;
}
.dog-l-b {
    border: 1px solid #e6e6e6;
    border-bottom: none;
    padding: 5px 15px 0;
    overflow: hidden;
    margin: 0 -1px;
}
.dog-l-b > span {
    float: left;
    width: 79px;
    font: 14px/18px "Microsoft YaHei";
    color: #666;
    margin-top: 7px;
}
.dog2-area-cont {
    width: 800px;
    height: 420px;
    border-top: 2px solid #f90;
}
.dog2-area-right {
    width: 190px;
    border-top: 2px solid #f90;
    padding: 0 0 0 10px;
}
.dog2-area-right > img {
    margin-top: 7px;
}
.dog-l-f-2 {
    position: absolute;
    left: -1px;
    top: 0;
    width: 37px;
    height: 42px;
    background: url("../image/splice3.png") no-repeat -285px -50px;
    color: #fff;
    font: 14px/32px "Microsoft YaHei";
    padding-left: 5px;
}
.dog-l-z-2 {
    background: #00b0cf;
    height: 72px;
    line-height: 72px;
    text-align: center;
    padding-left: 20px;
    margin: 0 -1px;
    font-size: 22px;
    color: #fff;
}
.dog2-area-cont-b {
    width: 800px;
    height: 420px;
    border-top: 2px solid #00b0cf;
}
.dog2-area-right-b {
    width: 190px;
    border-top: 2px solid #00b0cf;
    padding: 0 0 0 10px;
}
.dog2-area-right-b > img {
    margin-top: 7px;
}
.dog-l-f-3 {
    position: absolute;
    left: -1px;
    top: 0;
    width: 37px;
    height: 42px;
    background: url("../image/splice3.png") no-repeat -285px -99px;
    color: #fff;
    font: 14px/32px "Microsoft YaHei";
    padding-left: 5px;
}
.dog-l-z-3 {
    background: #f86f7c;
    height: 72px;
    line-height: 72px;
    text-align: center;
    padding-left: 20px;
    margin: 0 -1px;
    font-size: 22px;
    color: #fff;
}
.dog2-area-cont-r {
    width: 800px;
    height: 420px;
    border-top: 2px solid #f86f7c;
}
.dog2-area-right-r {
    width: 190px;
    border-top: 2px solid #f86f7c;
    padding: 0 0 0 10px;
}
.dog2-area-right-r > img {
    margin-top: 7px;
}
.dog-l-f-4 {
    position: absolute;
    left: -1px;
    top: 0;
    width: 37px;
    height: 42px;
    background: url("../image/splice3.png") no-repeat -285px -149px;
    color: #fff;
    font: 14px/32px "Microsoft YaHei";
    padding-left: 5px;
}
.dog-l-z-4 {
    background: #4aa3ff;
    height: 72px;
    line-height: 72px;
    text-align: center;
    padding-left: 20px;
    margin: 0 -1px;
    font-size: 22px;
    color: #fff;
}
.dog2-area-cont-c {
    width: 800px;
    height: 420px;
    border-top: 2px solid #4aa3ff;
}
.dog2-area-right-c {
    width: 190px;
    border-top: 2px solid #4aa3ff;
    padding: 0 0 0 10px;
}
.dog2-area-right-c > img {
    margin-top: 7px;
}
// 底部
